.noplay {
  background-color: #b8b8b8;
}

.failed {
  background-color: #ff6060;
}

.assist {
  background-color: #c080e0;
}

.easy {
  background-color: #80d880;
}

.clear {
  background-color: #80b0f0;
}

.hard {
  background-color: #fff8e0;
}

.exhard {
  background-color: #ffe000;
}

.fullcombo {
  background-color: #ff8c00;
}

.win {
  background-color: #ffe000;
}

.lose {
  background-color: #80b0f0;
}

.draw {
  background-color: #40e840;
}
